[Desktop Entry]
Type=Application
Name=Wireshark
GenericName=Network Analyzer
GenericName[hu]=hálózatanalizáló
Comment=Network traffic analyzer
Comment[hu]=Hálózatiforgalom-elemző
Icon=org.wireshark.Wireshark
TryExec=wireshark
Exec=wireshark %f
Terminal=false
MimeType=application/vnd.tcpdump.pcap;application/x-pcapng;application/x-snoop;application/x-iptrace;application/x-lanalyzer;application/x-nettl;application/x-radcom;application/x-etherpeek;application/x-visualnetworks;application/x-netinstobserver;application/x-5view;application/x-tektronix-rf5;application/x-micropross-mplog;application/x-apple-packetlogger;application/x-endace-erf;application/ipfix;application/x-ixia-vwr;
Categories=Network;Monitor;Qt;
