[Desktop Entry]
Type=Application
Name=Vavoom Launcher
Name[hu]=Vavoom indító
GenericName=Doom Engine
GenericName[hu]=Doom futtató motor
Icon=/usr/share/games/vavoom/vavoom.png
Exec=vlaunch
Categories=Game;ActionGame;
