[Desktop Entry]
Name=RapidSVN
GenericName=Subversion client
Comment=A multi-platform GUI client for the Subversion version control system
Comment[hu]=Többplatformos, grafikus kliens a Subversion (SVN) verziókövető rendszerhez
Exec=rapidsvn
Icon=rapidsvn
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GNOME;GTK;RevisionControl;
